<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Test Suite">

	<listeners>

		<listener class-name="com.progressive.utils.Reporting"></listener>
	</listeners>

	<test thread-count="5" name="Progressive Test" verbose="1">
		<classes>
			<class name="com.progressive.testcases.progressive.ProgressiveAutoInsuranceTest" />
		</classes>
	</test> <!-- Test -->

	
	<test thread-count="5" name="Google Test" verbose="2">
		<classes>
			<class name="com.progressive.testcases.google.GoogleTest" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
